@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 900);
$accent: mat.m2-define-palette(mat.$m2-teal-palette, 700);
$warn: mat.m2-define-palette(mat.$m2-red-palette, 600);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.m2-define-typography-config(
    $font-family: 'Inter, system-ui, -apple-system, sans-serif'
  ),
  density: 0
));

@include mat.all-component-themes($theme);
