<header class="fx-topbar">
  <section class="fx-topbar-inner">
    <div class="fx-brand">Flowora Control</div>

    <nav class="fx-nav">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
      <a routerLink="/production/requests" routerLinkActive="active">Requests</a>
    </nav>

    <div class="fx-spacer"></div>

    <span class="fx-badge">DEV</span>
  </section>
</header>

<main class="fx-main">
  <router-outlet></router-outlet>
</main>
